
doctype html
html( lang="en" )
    head
        title Baking Bootstrap Snippets with Jade
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        style.
         .carousel-inner > .item > img { width:100%; height:400px; }
          body{
          background-image: url("/images/pic2.jpg");
          background-attachment: fixed; 
          }
    body
      //background-image: url("./public/images/pic3.jpg");
      nav.navbar.navbar-default( role="navigation" )
          .navbar-header
              button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href="/") Holton Hotels
       
          #navbar-inverse.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Hotel 
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="#" ) Clasic Room
                        li: a( href="#" ) Double
                        li: a( href="#" ) Delux
                        li: a( href="#" ) Suite 
                        li: a( href="#" ) Presidential Suite  
                        li.divider
                        li.dropdown-header Ball Rooms
                        li: a( href="#" ) The Castle
                        li: a( href="#" ) The Main Event
                        li: a( href="#" ) The Weekend
            
                li.dropdown
                  a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Dining 
                       span.caret
                  ul.dropdown-menu( role="menu" )
                        li: a( href="#" ) Continental Breakfast
                        li: a( href="#" ) Signatures
                        li: a( href="#" ) Room Service
              
                li.dropdown
                  a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Branches 
                      span.caret
                  ul.dropdown-menu( role="menu" )
                        li: a( href="#" ) USA
                        li: a( href="#" ) International
                        li.divider
                        li.dropdown-header Book a Room
                        li: a( href="#" ) Make Reservation
                        li: a( href="#" ) Contact us
                        li: a( href="/users/chat" ) Live Chat
                               
              ul.nav.navbar-nav.navbar-right
                li: a( href="/users/logout" ) Logout
              ul.nav.navbar-nav.navbar-right
                li(class=(title == 'Login' ? 'active' : ''))
                  a( href="/users/login" ) Login
              ul.nav.navbar-nav.navbar-right
                li(class=(title == 'Register' ? 'active' : ''))
                  a( href="/users/register" ) Register
                  
    .container
    block content
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
